@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500;1,600&family=Open+Sans&family=Source+Sans+Pro&display=swap');
/* font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f171e;
    overflow-x: hidden;
}
#inicio ul{
    list-style: none;
    padding: 28px;
}
#inicio img{
    width: 130px;
    float: left;
    padding-top: 7px;
    margin-right: -20px;
}
#pr{
    float: right;
}
#inicio nav ul{
    float: left;
}
#inicio li{
    float: left;
    margin-left: 15px;
}
header{
    height: 80px;
    width: 100vw;
    background-color: #1A242E;
}
#inicio a, #inicio li{
    color: rgba(242,244,246,.9);
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}
/* #inicio li{
    color: rgba(242,244,246,.9);
    font-size: 17px;
    font-family: sans-serif;
} */

.container{
    margin: 0 auto;
    width: 95vw;
}
.containerBanner{
    margin: 0 auto;
    width: 84vw;
    overflow: hidden;
    height: 34vh;
    position: relative;
}
.navigation{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    
}
.navigation-auto{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
.navigation-auto div{
    width: 10px;
    border: 1px solid hsla(0,0%,100%,.3);
    float: left;
    margin-right: 7px;
    border-radius: 50%;
    padding: 5px;
    background-color: hsla(0,0%,100%,.3);
    cursor: pointer;
}
.bar{
    width: 10px;
    border: 1px solid hsla(0,0%,100%,.3);
    float: left;
    margin-right: 7px;
    border-radius: 50%;
    padding: 5px;
    background-color: hsla(0,0%,100%,.3);
    cursor: pointer;
}
.bar:hover{
    background-color: white;
}
.slides input{
    display: none;
}
.slides{
    display: flex;
    width: 1000%;
    height: 100%;
}
.slide{
    width: 10%;
    transition: .6s;
}
.slide img{
    width: 100%;
    height: 100%;
    
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -10%;
}
#slide3:checked ~ .s1{
    margin-left: -20%;
}
#slide4:checked ~ .s1{
    margin-left: -30%;
}
#slide5:checked ~ .s1{
    margin-left: -40%;
}
#slide6:checked ~ .s1{
    margin-left: -50%;
}
#slide7:checked ~ .s1{
    margin-left: -60%;
}
#slide8:checked ~ .s1{
    margin-left: -70%;
}
#slide9:checked ~ .s1{
    margin-left: -80%;
}
#slide10:checked ~ .s1{
    margin-left: -90%;
}
#slide1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}
#slide2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}
#slide3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}
#slide4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}
#slide5:checked ~ .navigation-auto .auto-btn5{
    background-color: white;
}
#slide6:checked ~ .navigation-auto .auto-btn6{
    background-color: white;
}
#slide7:checked ~ .navigation-auto .auto-btn7{
    background-color: white;
}
#slide8:checked ~ .navigation-auto .auto-btn8{
    background-color: white;
}
#slide9:checked ~ .navigation-auto .auto-btn9{
    background-color: white;
}
#slide10:checked ~ .navigation-auto .auto-btn10{
    background-color: white;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 300px;
    height: 180px;
    background-color: red;
    margin-left: 10px;
    border-radius: 3px;
}
.filmesRecomendados{
    margin-top: 20px;
}
.filmesRecomendados h1{
    color: #0DA0DC;
    font-size: 27px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-left: 45px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.filmesRecomendados span{
    color: white;
    font-size: 19px;
    font-weight: 700;
}
#footer{
    height: 120px;
}
#footer ul{
    list-style: none;
}
#footer a{
    text-decoration: none;
    color: #79b8f3;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
#footer li{
    float: left;
    margin-left: 15px;
}
#footer li:nth-of-type(4){
    color: #8197a4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
}
.filmesRecomendados img{
    margin-bottom: -10px;
}
/* #categorias{
    margin: 0;
    width: 100%;
    height: 34vh;
    background-image: radial-gradient(ellipse at left top,rgba(29,79,115,.2) 10%,#0f171e 80%),radial-gradient(ellipse at left bottom,rgba(29,79,115,.1) 20%,#0f171e 80%);
} */
#linha-vertical {
    height: 250px;
    border-right: 2px solid #8197a4;
    align-self: center;
}
.containerCategorias{
    /* background-color: red; */
    /* width: 80vw;
    height: 100%;
    float: right; */
    display: flex;
    justify-content: center;

    margin: 0;
    width: 100%;
    height: 34vh;
    background-image: radial-gradient(ellipse at left top,rgba(29,79,115,.2) 10%,#0f171e 80%),radial-gradient(ellipse at left bottom,rgba(29,79,115,.1) 20%,#0f171e 80%);
}
.cardsCategoria{
    width: 160px;
    height: 100px;
    background-color: rgb(32, 32, 255);
    border-radius: 9px;
    margin: 8px;
}
#categoriasPrincipais ul{
    list-style: none;
}
#categoriasPrincipais li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#categoriasPrincipais a{
    font-weight: 700;
    font-size: 17px;
}
.containerCategorias a{
    text-decoration: none;
}
.generoOutros a{
    font-size: 17px;
    color: #8197a4;
    font-family: 'Source Sans Pro', sans-serif;
}
.generoOutros li{
    margin-top: 10px;
}
.cardsCategoria a{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 15px; */
    color: white;
}
.generoOutros ul{
    list-style: none;
    margin-top: 10px;
    margin-left: 50px;
}
.generoOutros{
    display: flex;
    flex-direction: row;
}
.containerCategorias h2{
    margin-top: 15px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.generoOutros h2{
    margin-left: 50px;
}
#quebrarLinha{
    display: flex;
    flex-direction: row;
}
#cardMenuCategoria{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}
#principais{
    margin-right: 50px;
}
#principais h2{
    margin-left: 9px;
}
.displayCategoria{
    display: none;
}
#outrasCategorias ul {
    margin-left: 200px;
}
#outrasCategorias h2{
    margin-left: 200px;
}
#idCat{
    cursor: pointer;
}